.app {
  text-align: center;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}